<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>Comments</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link
	href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900"
	rel="stylesheet" ></link>
<link href="css/default.css" rel="stylesheet" type="text/css"
	media="all" ></link>


</head>
<body>
	<div id="header" class="container">
		<div id="logo">
			<h1>
				<a href="#">Company - 7</a>
			</h1>
		</div>
		 <div id="menu">
			<ul>
				<li><a th:href="@{/home}" accesskey="1" title="">Home</a></li>
				<li><a th:href="@{/makePost}" accesskey="3" title="">Post</a></li>
			</ul>
		</div>
	</div>
	  <div id="page">
	 
		<div class="container">
		
			 <div  th:each="comment : ${mycomments}">
				<div class="box">
				 <h3>Content</h3>
				 <div th:text="${comment.content}"></div>
			
				
		</div>
		</div>
     <form th:action="@{/showComments?id=__${savePostId}__}" th:object="${commentdata}" method="POST" id="reused_form">
	  <label for="message">New Comment:</label>
      <textarea id="message" name="Message" th:field="*{content}" rows="5"  colomuns="15" maxlength="10000" required></textarea>
	  <input type="Submit" value="OK">
	  </form>
		</div>


</div>
	

	<div id="copyright" class="container">
		<p>Copyright (c) 2019 Company 7 :") | Thank you for visiting
			us.</p>
	</div>
</body>
</html>
